# Gasolina Superior con aditivo y Gasolina Superior

In [1]:
import pandas as pd
# Leer la primer hoja del archivo .xls y cargar los datos en un DataFrame
df = pd.read_excel("Precios-Mensuales-promedio-combustibles-Ciudad-de-Guatemala-mayo-2023-SERVICIO-COMPLETO.xlsx", skiprows=[0])
#df_copy = df.copy()

#df

In [2]:
# eliminamos la columna 1 y 6 de df
df.reset_index(drop=True, inplace=True)
df.drop(df.columns[[1, 6]], axis=1, inplace=True)
#df

In [3]:
# separamos el dataframe anterior en dos dataframes, uno para los datos de la gasolina superior con aditivio
# otro para los datos de la gasolina superior
gasolina_superior_con_aditivo = df.iloc[0:12]
gasolina_superior = df.iloc[15:27]

In [4]:
# quitamos los na de gasolina_superior_con_aditivo usando ffill
last_col_index = len(df.columns) - 1
gasolina_superior_con_aditivo.iloc[:, 1:last_col_index] = gasolina_superior_con_aditivo.iloc[:, 1:last_col_index].fillna(method='ffill', axis=1)

/var/folders/04/fryprmks7_573d9qxr1s6bjh0000gn/T/ipykernel_770/338672007.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gasolina_superior_con_aditivo.iloc[:, 1:last_col_index] = gasolina_superior_con_aditivo.iloc[:, 1:last_col_index].fillna(method='ffill', axis=1)

In [5]:
# visualizamos los datos de la gasolina superior con aditivo
gasolina_superior_con_aditivo

,MES/AÃ‘O,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ENERO,14.92,13.37,16.34,16.80,19.80,23.31,23.62,29.55,22.86,...,35.26,22.36,21.01,25.31,26.47,23.72,26.17,24.34,32.05,35.76
1,FEBRERO,15.17,13.23,17.21,18.05,19.25,22.98,22.65,29.45,22.71,...,34.46,25.92,20.03,24.51,26.27,24.54,25.12,26.07,34.55,35.54
2,MARZO,14.97,13.63,18.30,18.68,20.46,22.85,24.00,30.83,22.39,...,34.81,25.61,21.70,24.03,26.43,26.49,24.15,28.24,39.83,34.95
3,ABRIL,14.91,15.18,17.42,19.16,22.70,25.36,26.35,32.45,23.05,...,35.66,26.17,22.91,24.81,27.74,28.48,19.44,28.54,39.37,36.87
4,MAYO,16.26,15.19,16.48,19.48,23.21,27.68,28.40,33.93,24.24,...,35.25,27.46,23.75,24.24,28.57,28.54,19.36,29.41,42.68,35.43
5,JUNIO,16.31,15.05,15.68,19.90,22.98,27.44,29.50,36.39,25.15,...,35.90,27.84,24.31,23.94,28.60,27.09,21.57,29.31,41.73,NaN
6,JULIO,15.53,15.56,15.58,19.85,23.08,27.27,29.19,37.25,27.73,...,36.13,27.74,23.16,23.80,28.54,27.75,23.17,30.04,36.68,NaN
7,AGOSTO,14.75,16.31,16.06,19.69,23.63,28.83,28.47,36.62,27.93,...,34.51,25.81,22.99,24.38,28.60,26.69,22.76,30.49,36.28,NaN
8,SEPTIEMBRE,14.95,16.23,17.51,19.51,25.80,27.72,27.81,35.87,28.00,...,33.63,23.83,23.67,25.93,28.86,26.53,22.64,30.83,35.77,NaN
9,OCTUBRE,14.94,16.62,17.20,20.14,27.83,25.43,28.12,32.48,27.36,...,31.82,23.50,24.01,25.08,29.14,25.21,22.76,32.60,38.05,NaN
10,NOVIEMBRE,14.43,16.75,16.82,21.03,26.60,23.83,29.15,27.45,29.17,...,29.98,22.54,23.31,25.98,26.44,26.17,21.76,32.11,37.98,NaN
11,DICIEMBRE,NaN,16.50,16.40,20.71,23.93,23.87,29.79,23.80,28.70,...,26.46,21.64,24.26,25.75,24.50,25.96,23.41,30.38,35.28,NaN

In [6]:
# creamos una lista con los anos 2001-2023 y los meses
anos = list(range(2001, 2024))
print(list(range(0, 12)))
meses = list(range(1, 13))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [10]:
# convertimos al formato ano-mes
# creamos dos listas para guardar la fecha y el respectivo precio
fechas = []
precios = []
# recorremos un ciclo con los 23 anos del dataframe
for i in range(1, 24):
    # recorremos los 12 meses del ano
    for j in range(0, 12):
        # Append the data to the lists
        fechas.append(str(anos[i - 1]) + "-" + str(meses[j]))
        precios.append(gasolina_superior_con_aditivo.iloc[j, i])

# Create a new dataframe with the collected data
datos_gas_sup_ad = pd.DataFrame({'Fecha': fechas, 'Precio': precios})

# Display the new dataframe
print(datos_gas_sup_ad)

       Fecha  Precio
0     2001-1   14.92
1     2001-2   15.17
2     2001-3   14.97
3     2001-4   14.91
4     2001-5   16.26
..       ...     ...
271   2023-8     NaN
272   2023-9     NaN
273  2023-10     NaN
274  2023-11     NaN
275  2023-12     NaN

[276 rows x 2 columns]

In [8]:
# quitamos los na del dataframe usando el metodo forward fill
last_col_index = len(df.columns) - 1
gasolina_superior.iloc[:, 1:last_col_index] = gasolina_superior.iloc[:, 1:last_col_index].fillna(method='ffill', axis=1)

/var/folders/04/fryprmks7_573d9qxr1s6bjh0000gn/T/ipykernel_770/2790064757.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gasolina_superior.iloc[:, 1:last_col_index] = gasolina_superior.iloc[:, 1:last_col_index].fillna(method='ffill', axis=1)

In [9]:
# visualizamos los datos
gasolina_superior

,MES/AÃ‘O,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
15,ENERO,14.41,12.94,15.80,16.24,19.09,22.65,22.99,28.89,21.58,...,34.84,21.74,20.39,24.69,25.83,23.03,25.60,23.82,31.41,35.12
16,FEBRERO,14.66,12.76,16.64,17.49,18.60,22.35,22.04,28.71,21.35,...,33.93,23.25,19.38,23.88,25.78,23.87,24.51,25.53,33.84,35.03
17,MARZO,14.49,13.04,17.79,18.11,19.76,22.16,23.13,30.04,21.05,...,34.26,24.99,21.02,23.42,25.80,25.80,23.60,27.70,39.12,34.40
18,ABRIL,14.46,14.60,17.01,18.48,21.94,24.48,25.53,31.69,21.57,...,35.08,25.55,22.25,24.20,27.10,27.82,18.97,28.03,38.83,36.33
19,MAYO,15.76,14.65,15.92,18.89,22.48,26.85,27.59,33.12,22.81,...,34.70,26.86,23.10,23.64,28.29,27.88,18.74,28.80,42.14,34.90
20,JUNIO,15.76,14.49,15.07,19.24,22.22,26.77,28.69,35.51,23.91,...,35.36,27.10,23.66,23.33,27.95,26.44,21.08,28.85,41.19,NaN
21,JULIO,15.12,14.86,15.10,19.16,22.23,26.58,28.41,36.42,26.56,...,35.61,27.14,22.53,23.15,27.87,27.13,22.55,29.49,36.41,NaN
22,AGOSTO,14.32,15.68,15.54,19.04,22.89,28.12,27.91,35.78,26.58,...,34.03,25.20,22.34,23.73,27.95,26.07,22.33,29.91,36.06,NaN
23,SEPTIEMBRE,14.50,15.63,16.81,18.91,25.27,27.29,27.16,34.83,26.71,...,33.11,23.27,22.99,25.32,28.21,25.85,22.14,30.23,35.21,NaN
24,OCTUBRE,14.48,16.00,16.60,19.48,27.22,24.73,27.34,31.29,26.02,...,31.35,22.86,23.36,24.44,28.54,25.61,22.30,31.00,37.33,NaN
25,NOVIEMBRE,13.99,16.12,16.28,20.31,25.95,23.18,28.24,26.29,27.73,...,29.38,21.97,22.68,25.37,25.87,25.54,21.21,31.55,37.39,NaN
26,DICIEMBRE,13.21,15.90,15.89,20.03,23.29,23.15,29.04,22.55,27.42,...,25.88,21.03,23.61,25.11,23.81,25.39,22.76,29.82,34.66,NaN

In [12]:
# Convertimos al formato ano-mes
# creamos dos listas para guardar la fecha y el respectivo precio
fechas2 = []
precios2 = []

# recorremos un ciclo con los 23 anos del dataframe
for i in range(1, 24):
    # recorremos los 12 meses del ano
    for j in range(0, 12):
        # Append the data to the lists
        fechas2.append(str(anos[i - 1]) + "-" + str(meses[j]))
        precios2.append(gasolina_superior.iloc[j, i])

# Create a new dataframe with the collected data
datos_gas_sup = pd.DataFrame({'Fecha': fechas2, 'Precio': precios2})

# Display the new dataframe
print(datos_gas_sup)

       Fecha  Precio
0     2001-1   14.41
1     2001-2   14.66
2     2001-3   14.49
3     2001-4   14.46
4     2001-5   15.76
..       ...     ...
271   2023-8     NaN
272   2023-9     NaN
273  2023-10     NaN
274  2023-11     NaN
275  2023-12     NaN

[276 rows x 2 columns]

## Series de Tiempo Gasolina superior con aditivos y gasolina superior

In [ ]:
# importamos los paquetes necesarios
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.tsa as tsa
import statsmodels as sm
from datetime import datetime
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX

# Gasolina Regular y Diesel

In [ ]:
# creamos un dataframe leyendo la segunda hoja del excel
df2 = pd.read_excel("Precios-Mensuales-promedio-combustibles-Ciudad-de-Guatemala-mayo-2023-SERVICIO-COMPLETO.xlsx", skiprows=[0], sheet_name="Table 2")
#df2

In [ ]:
df2
df2.reset_index(drop=True, inplace=True)
df2.drop("Unnamed: 1", axis=1, inplace=True)
#df2

In [ ]:
# separamos el dataframe en dos; uno para los datos de la gasolina regular y otro para los datos de diesel
gasolina_regular = df2.iloc[0:12]
diesel = df2.iloc[17:29]

In [ ]:
# mostramos los datos de gasolina regular
gasolina_regular

In [ ]:
# mostramos los datos de diesel
diesel

## Series de Tiempo Gasolina Regular y Diesel